.callroll {
<<<<<<< HEAD
    text-align: center;
    .answer {
        margin-top: 270px;
        width: 320px;
    }
=======
  text-align: center;
  .answer {
    margin-top: 270px;
    width: 320px;
  }
>>>>>>> 378a321d4070a4f9b84a77956da2ca5f9cc69341
}